body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #c6d6b8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
}

button {
    cursor: pointer;
    border: none;
    font-weight: bold;
}


/* Top Navigation */
header {
    width: 100%;
    background-color: #2e5d00; /* Updated color */
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
}


#dashboardButton {
    font-style: italic;
    background-color: #2e5d00;
    color: white;
    position: absolute;
    top: 10px;
    left: 20px; /* Move to top right */
    padding: 10px 20px;
    border-radius: 5px;
}

#exitButton {
    font-style: italic;
    background-color: #2e5d00;
    color: white;
    position: absolute;
    top: 10px;
    right: 20px; /* Move to top left */
    padding: 10px 20px;
    border-radius: 5px;
}


/* Logo */
.face-scan-section h2 {
    background-color: #2e5d00;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Face Scan Section */
.face-scan-section {
    background-color: #2e5d00;
    padding: 30px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-container {
    background-color: #c6d6b8;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

video, canvas {
    width: 320px;
    height: 240px;
    display: block;
    margin: auto;
}

#scanFaceButton {
    background-color: #c6d6b8;
    padding: 10px 20px;
    border-radius: 5px;
    font-style: italic;
}

/* Status Icons */
.status-container {
    margin-top: 10px;
}

.status-container button {
    background-color: #c6d6b8;
    padding: 5px 20px;
    border-radius: 5px;
}

/* Next Page Arrow Button */
#arrowButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #2e5d00;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}

#arrowButton:hover {
    transform: scale(1.1);
    background-color: #1b3a00;
}
